body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
}

#patternContainer {
    margin-top: 20px;
}

#patternImage {
    max-width: 90%;
    height: auto;
}

#patternText {
    width: 80%;
    height: 150px;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
}

.counter {
    margin-top: 20px;
}
